@import "../../../public/scss/commit.scss";
.chanegeInfo-container{
    .changeInfo-header{
        @include title;
    }
    .changeInfo-mainer{
        margin-top: 2.5rem;
    }
    .changeInfo-footer{
        text-align: center;
        margin-top:2rem;
        .refs-btn{
            height: 40px;
            width: 80px;
            border-radius: 5px;
        }
    }
}