.forgetPassword-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  background: url("../../../public/images/Staff/null-2422a8f12dff7226.jpg")
    no-repeat center;
  background-size: 100% 100%;
  .forgetPassword-mainer {
    width: 30.5rem;
    height: 20.5rem;
    border-radius: 0.625rem;
    background-color: rgba($color: white, $alpha: 0.7);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    .forgetPassword-tips {
      text-align: center;
      height: 3.75rem;
      line-height: 3.75rem;
      font-size: 1.575rem;
      text-shadow: 5px 5px 5px #73bfdd;
    }
    .forgetPassword-form {
      width: 80%;
      margin: 2rem auto;
      max-height: 10rem;
      .form {
        height: 10rem !important;
        width: 100%;
      }
    }
  }
}
