.addNotice-container{
    margin-top: 30px;
    .addNotice-header{
        text-align: center;
        color:black;
        height: 3.75rem;
        line-height: 3.75rem;
        font-size: 1.25rem;
    }
}
.refs-container{

    text-align: center;
}