@mixin clearFloat(){
    &::after{
        clear:both;
        display:block;
        content:'';
    }
}
@mixin title {
    text-indent: 3.225rem;
    border-bottom: 1px solid #EBEEF5;
    height: 4rem;
    line-height: 4rem;
    font-size:1.6rem;
    font-weight:500;
    margin-bottom: 20px;
}
@mixin admin-title{
    
}