@import "../../../public/scss/commit.scss";
.change-container{
    .change-header{
        @include title;
    }
    .change-mainer{
        width: 100%;
        margin-top:5.375rem;
        .refs-container{
            text-align: center;
            height: 100px;
            line-height: 100px;
            .refs-btn{
                width: 5.25rem;
                font-size: 1.15rem;
                height: 2.8rem;
                border-radius: 0.3125rem;
            }
        }
    }
}